@import '@/styles/variables';

.actionsContainer {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 2em 1em;
  width: $sidebar-width;
  height: 100%;
  background-color: #f8f8f8;
  transform: translateX($sidebar-width);
  transition: transform 0.3s ease-in-out;
  background: #2d2d2b;
  cursor: pointer;

  &.open {
    transform: translateX(0);
  }

  @media screen and (min-width: $mobile-breakpoint) {
    position: relative;
    transform: translateX(0);
  }

  .hamburgerMenu {
    position: absolute;
    top: 2em;
    left: -4em;
    z-index: 1;
  }
}
