.consoleContainer {
  position: relative;
  height: 50vh;
  background-color: #f6f6f6;
  padding-bottom: 4.5em;
  width: 800px;
  height: 90vh;
  border-radius: 8px;
  margin: 0 auto;

  .chatLogContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow-y: scroll;
    padding: 1rem 1rem 2rem 1rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
    height: 85vh;

    .log {
      display: flex;
      flex-direction: row;
      padding: 1rem;
      background-color: #fff;
      border-radius: 0.5rem;
      box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.1);
      margin-bottom: 1em;
      width: 100%;

      .logText {
        padding: 0.5em 0 0 1em;
        font-size: 1rem;
        line-height: 1.5;
      }

      pre {
        white-space: pre-wrap;
        border-radius: 0.5rem;
        width: 100%;
        margin: 2em 0;
        background: #eee;
        padding: 1em;
      }

      &:last-child {
        margin-bottom: 0;
      }

      .sourceDocs {
        border-top: 1px solid rgb(214, 214, 214);
        margin-top: 1em;
        padding-top: 1em;

        .sourceDocsAccordionTrigger {
          background: none;
          border: none;
          display: block;
          width: 100%;
          text-align: left;
          font-size: 0.8em;

          svg {
            float: right;
          }
        }

        .sourceDocsList {
          font-size: 0.8em;
          margin-top: 1em;

          .sourceDocsListSource {
            background: #2d2d2d;
            border-radius: 3px;
            padding: 0.3em 1em;
            color: rgb(214, 214, 214);
            margin: 2em 0 1em;
          }
        }
      }
    }
  }

  .form {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    .promptText {
      width: -webkit-fill-available;
      padding: 0.5rem;
      margin: 1em;
      font-size: 1rem;
      line-height: 1.5;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 0.5rem;
      box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.1);
      transition: border-color 0.2s ease-in-out;
      font-family: Helvetica, sans-serif;

      &:active,
      &:focus {
        outline: none;
        box-shadow: 0 0 0 0.2rem rgba(77, 161, 255, 0.25);
      }
    }

    .button {
      position: absolute;
      right: 2em;
      bottom: 1.2em;
      background-color: #fff;
      border: none;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      font-size: 1rem;
      font-weight: bold;
      margin-left: 1rem;
      padding: 0.5rem 0.5rem 0.2rem 0.5rem;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: darken(#fff, 10%);
      }

      &:active {
        background-color: darken(#fff, 20%);
      }

      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
    }
  }
}
