.stageContainer {
  flex-basis: 80%;

  .stage {
    position: relative;
    background: #1d1d1d;
    background-size: cover;
    background-position: center center;
    aspect-ratio: 16 / 9;
    width: 90%;
    margin: 0 auto;
    transition: background 1s ease-in-out;
  }
}
