@import 'variables';

.main {
  padding: 0;
  height: 100vh;
  overflow: hidden;

  @media screen and (min-width: $mobile-breakpoint) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
